@charset "utf-8";
/* CSS Document */

/* por reset.css V1.0  Start*/
body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, button, input, textarea, th, td { margin: 0px; padding: 0px; }
body, button, input, select, textarea { font: 12px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; }
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
ul, ol, li { list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
fieldset, img { border: none; }
button, input, select, textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
html { overflow-y: scroll; }
.fixed:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.fixed { display:block; }
.fixed { min-height:1%; }

/* por reset.css V1.0  End */


#oterText{ width:600px; line-height:24px; font-size:16px; background:#000; color:#FFF; margin:30px auto; text-align:center;}